.container {
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
}

.dialogTitle {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;  
}

.description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0000008A;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dialogFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.buttonDelete {
  width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 8px;
  background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, #b60606 0%, #d94747 68.65%);
  }
}

.buttonCancel {
  width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 8px;
  background: #E7EEFB;
  border: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background: #d0ddf7;
  }
}